.song-element {
  list-style: none;
  color: white;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.song-image {
  border-radius: 0 25px 0 25px;
}


